{% extends "content.html" %} {% block page %}
<h1 style="text-align: center">Добро пожаловать!</h1>
<h2>
    <small class="text-muted">Version 1.1</small>
</h2>

<div class="card">
    <h5 class="card-header">Что нового?</h5>
    <div class="card-body">
        <ul>
            <li>
                Завершена работа по созданию архитектуры серверной части
                ("back-end");
            </li>
            <li>Разработана система логгирования ("back-end");</li>
            <li>Выполнена верстка страницы с контентом ("front-end")</li>
        </ul>
    </div>
</div>

<hr />
<p>
    Информационный портал - веб-сервис для решения задач в области организации и
    автоматизации труда. Состоит из следующих информационных блоков: аналитика
    данных (интеграция с PowerBI), система документооборота (тесна связана с
    процессным подходом, кастомная разработка), система обратной связи
    (сотрудник-руководитель), процессный подход, управление качеством,
    целепологание (сбор информации для аналитики).
</p>
<hr />

{% endblock %}
